extends _bootstrap

block content
  h1= title
  p Welcome to #{title}
  +a-btn("#") Default Link Button
  +a-btn("#") Default Link Button
  +a-btn("#") Default Link Button
  +a-btn("#") Default Link Button
  +btn("#") Default Link Button



